body {
    f.dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
      }
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #4b2e1f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #d2b48c;
    text-decoration: none;
    font-size: 25px;
}

nav ul li a:hover {
    color: #fff;
}

#about {
    font-size: 30px;
    
}

#about:hover {
    background-color: #d2b48c;
}

section {
    padding: 50px 20px;
    font-size: 30px;
    
}

#projects .projetos {
    margin-bottom: 30px;
    font-size: 30px;

}

#abc {
    color: rgb(168, 18, 101);
}

#net{
    color: red;
}

section:hover {
    background-color: #d2b48c;;
}

#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#skills ul li {
    background-color: #d2b48c;
    padding: 10px 20px;
    border-radius: 5px;
    color: #4b2e1f;
}

#email { 
    color: #4b2e1f;
}

footer {
    background-color: #4b2e1f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
